<header class="header-container" id="header-container">
  <a href="#top" class="logo-link">
    <img class="logo" src="Assets/logo/Estoque360_Logos/estoque360_master.svg" alt="Estoque360&deg; Logo">
  </a>

  <nav class="nav-links">
    <a data-nav-target="#top" href="index.html#top">In&iacute;cio</a>
    <a data-nav-target="#price-section" href="#price-section">Planos</a>
    <a data-nav-target="#faq-section" href="#faq-section">FAQ</a>
    <a data-nav-target="#footer-section" href="#footer-section">Contatos</a>
    <a href="about.html">Sobre</a>
  </nav>

  <div class="fishing-section">
    <button class="fishing-button" id="fishing-button">Experimente 1 m&ecirc;s gr&aacute;tis!</button>
  </div>
</header>
